.card-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 48px;
  max-width: 323px;
  list-style-type: none;
}

.card-1 {
  border-top: 7px solid #ff4f64;
}

.card-2 {
  border-top: 7px solid #00a8e7;
}

.card-3 {
  border-top: 7px solid #44c4a1;
}

.card-4 {
  border-top: 7px solid #fcc200;
}

.card-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 500;
}

.card-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.card-img {
  width: 80px;
  height: 80px;
}
